[submodule "third_party/vllm-ascend"]
	path = third_party/vllm-ascend
	url = https://github.com/vllm-project/vllm-ascend.git
[submodule "third_party/vllm"]
	path = third_party/vllm
	url = https://github.com/vllm-project/vllm.git
[submodule "third_party/vllm-cloud-main"]
	path = third_party/vllm-cloud-main
	url = https://github.com/huaweicloud/ModelArts-Lab.git
	branch = vllm/vllm-cloud-main
